MONGODB_URI="mongodb+srv://ashifansari04704_db_user:Agr@12345@cluster-om.7hq5qty.mongodb.net/?appName=Cluster-Om"
JWT_SECRET="K0w#f;z{.LB{•••••••••••••••••••M0IA)9dg|?7v"
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
